version: '3.8'
services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/schooldb
      - JWT_SECRET=change_this
      - STORAGE=local
    depends_on:
      - mongo
    volumes:
      - ./:/usr/src/app
      - ./uploads:/usr/src/app/uploads
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
